<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <clear />
    <add name="partialConnectString" connectionString="Data Source=;Initial Catalog=;" providerName="System.Data.SqlClient" />
    <add name="TechBrandsContext" connectionString="metadata=res:;provider=System.Data.SqlClient;provider connection string=&quot;data source=;initial catalog=;persist security info=True;user id=;password=;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="SQLServerUserName" value="" />
    <add key="SQLServerPassword" value="" />
    <add key="RingCentralUserName" value="" />
    <add key="Dev_RingCentralUserName" value="" />
    <add key="RingCentralExtension" value="" />
    <add key="RingCentralPassword" value="" />
    <add key="RingCentralEndpoint" value="https://platform.ringcentral.com/restapi/v1.0/" />
    <add key="Dev_RingCentralEndpoint" value="https://platform.devtest.ringcentral.com/restapi/v1.0/" />
    <add key="RingCentralAppKey" value="" />
    <add key="Dev_RingCentralAppKey" value="" />
    <add key="RingCentralAppSecret" value="" />
    <add key="Dev_RingCentralAppSecret" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>